                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- <tr>
              <td class="email-masthead">
                <a href="<%/* appUrl */%>" class="f-fallback email-masthead_link">
                  <img src="cid:header-logo" width="42" />
                  <span class="email-masthead_title">My Session Tracker</span>
                </a>
              </td>
            </tr> -->
            <tr>
              <td>
                <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0" role="presentation">
                  <tr>
                    <td class="footer-cell" align="center">
                      <p class="sub align-center">&copy; <%= year %> <a href="<%- appUrl %>" target="_blank"><%= appName %></a>. All rights reserved.</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
